.app.dark {
    --bg-color: #181818;
    --inverted-bg-color: #fff;
    --primary-color: ##fff;
    --secondary-color: #0452ff;
    --inverted-primary-color: #181818;
    --inverted-secondary-color: #0452ff;
}
